* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}
body {
    margin: 0px auto;
    background-color: #222;
}
.contents {
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 320px;
}
.content_text {
    font-weight: bold;
    font-size: 35px;
    color: #FFF;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.idlescreen {
    background-color: #000000;
    margin: 0px;
    height: 100%;
}
/* general stylesheet all asked questions*/

.questions_header {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.question_question {
    color: rgba(0, 0, 0, 1);
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    vertical-align: top;
    margin: auto;
}
.closingScreen {
    width: 100%;
    height: 100%;
    background-color: #20d920;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Swipe_attribute {
    margin-top: 100px;
}
.completion_screen {
    background-color: #20d920;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 90px 0 0 0
}
.text_completed_screen {
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 2.5rem;
    margin: 10px;
    padding: 90px 0 0 0;
}
.waiting_screen {
    background-color: rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 90px 0 0 0
}
.text_waiting_screen {
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 3rem;
    margin: 10px;
    padding: 90px 0 0 0;
}
.answer_s {
    font-weight: bold;
    font-size: 8rem;
    margin: 20px;
    top: 25px;
    padding: 90px 0 0 0;
}
.q_interaction {
    color: rgba(24, 174, 225, 1);
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
    margin: auto
}
/*  Arrows within swiping interaction*/

.arrow {
    border: solid black;
    border-color: rgba(153,153,153,0.3);
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}
.arrow.right {
	position:fixed;
	right: 30px;
	top:180px; 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrow.left {
	position:fixed;
	left: 30px;
	top:180px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}